.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block {
  display: flex;
  margin: 5px;
  padding: 5px;
  flex-flow: column wrap;
  gap: 5px;
}

#datetime-picker {
  width: 250px;
  height: 50px;
  border: 2px solid rgba(0, 80, 0, 0.5);
  border-radius: 5px;
  outline: none;
  font-size: 28px;
  text-align: center;
}

button {
  width: 250px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 80, 0, 0.5);
  color: #fff;
  font-size: 28px;
}
button:disabled {
  border: 2px solid #000;
  background: rgb(128, 128, 128);
  color: rgb(128, 128, 128);
}

.timer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  align-items: center;
}

.value {
  font-size: 28px;
  font-weight: 700;
}

.label {
  font-weight: 500;
  writing-mode: vertical-rl;
  letter-spacing: 0.1em;
}

.flatpickr-day.selected {
  background: rgba(0, 80, 0, 0.5);
  border-color: rgba(0, 80, 0, 0.5);
}
